<!-- start: Header -->
<div class="navbar">
  <div class="navbar-inner">
    <div class="row-fluid">
      <a href="/" class="brand span2"><span>StandHub</span></a>
    </div>
    <!-- start: Header Menu -->
    <div class="nav-no-collapse header-nav">
      <ul class="nav pull-right">
        <!-- start: User Dropdown -->
        <li>
          <div class="user">
            <!-- <span class="hello">Welcome!</span> -->
            <div ng-controller="LoginCtrl">
              <div class="avatar-nav avatar">
              <img alt="Avatar"
                   ng-src="https://graph.facebook.com/{{user.username}}/picture?type=normal"
                   ng-show="loggedIn">
              </div>
              <button class="btn btn-info btn-setting" style="margin-top: 10px;"
                      ng-click="open()"
                      ng-hide="loggedIn">
                      Sign in / Sign up
              </button>
              <button class="btn btn-info btn-setting" style="margin-top: 10px;"
                      ng-click="logout()"
                      ng-show="loggedIn">
                      Sign out
              </button>
              <div ng-include="'/views/partials/login.html'"></div>
            </div>


            </span>
          </div>
        </li>
        <!-- end: User Dropdown -->
      </ul>
    </div>
    <!-- end: Header Menu -->
  </div>
</div>
