<div ng-controller="AlertsCtrl">
  <div class="box-header">
    <h2><i class="icon-warning-sign"></i>Alerts</h2>
    <div class="box-icon">
    </div>
  </div>
  <div class="box-content">
    <ul>

      <li ng-repeat="request in requestsToYou">
        <div class="from">
          <i class="halflings-icon user"></i> <b>{{request.from | username}}</b>
          <div class="date"><i class="halflings-icon time" style="margin-top: 2px;margin-right: 5px;"></i><span class="date" am-time-ago="request.utc_timestamp"></span></div>
          <div class="menu"> <!-- Tags -->
           Needs help with<span class="label label-important">{{request.tag}}</span>
           <div>
            {{request.comment}}
           </div>
           <div>
              <button ng-click="accept(request)" class="btn btn-small" style="margin:2px;"><i class="icon-ok"></i> Accept</button>
              <button ng-click="decline(request)" class="btn btn-small" style="margin:2px;"><i class="icon-remove"></i> Decline</button>
            </div>
          </div>
        </div>
      </li>

      <li ng-repeat="request in requestsFromYou">
        <div class="from">
          <i class="halflings-icon user"></i> <b>Your request for help with:</b><span class="label label-important">{{request.tag}}</span>
          <div class="date"><i class="halflings-icon time"></i><span class="date" am-time-ago="request.utc_timestamp"></span></div>
          <ul>
            <li ng-repeat="(key,value) in request.targets">
              {{target}}
            </li>
          </ul>
            <button class="btn btn-small" ng-click="cancel(request)"><i class="icon-remove"></i> Cancel</button>
        </div>
      </li>
    </ul>

  </div>
</div>
