<div class="box-header">
  <h2><i class="icon-warning-sign"></i>Alerts</h2>
  <div class="box-icon">
  </div>
</div>
<div class="box-content">
  <ul>
    <li>

      <div class="from">
        <i class="halflings-icon user"></i> <b>Steve Jobs</b>
        <div class="date">
          <i class="halflings-icon time"></i> Today, <b>3:47 PM</b>
        </div>
        <div class="menu"> <!-- Tags -->
          <span class="label label-important">Angular.js</span>
          <span class="label label-info">Backbone.js</span>
          <span class="label label-info">Backbone.js</span>
          <span class="label label-info">Backbone.js</span>
          <span class="label label-info">Backbone.js</span>
          <span class="label label">Startups</span>
        </div>
          <button class="btn btn-small"><i class="icon-ok"></i> Accept</button>
          <button class="btn btn-small"><i class="icon-remove"></i> Cancel</button>

      </div>



    </li>
    <li>

      <div class="from">
        <i class="halflings-icon user"></i> <b>Steve Jobs</b>
        <div class="date"><i class="halflings-icon time"></i> Today, <b>3:47 PM</b></div>
        <div class="menu"> <!-- Tags -->
          <span class="label label-important">Angular.js</span>
          <span class="label label-info">Backbone.js</span>
          <span class="label label">Startups</span>
        </div>
          <button class="btn btn-small"><i class="icon-ok"></i> Accept</button>
          <button class="btn btn-small"><i class="icon-remove"></i> Cancel</button>

      </div>


    </li>
  </ul>

</div>
