<div ng-controller="AlertsCtrl">
  <div class="box-header">
    <h2><i class="icon-warning-sign"></i>Alerts</h2>
    <div class="box-icon">
    </div>
  </div>
  <div class="box-content">
    <ul>

      <li ng-repeat="request in requestsToYou">
        <div class="from">
          <i class="halflings-icon user"></i> <b>{{request.from | username}}</b>
          <div class="date"><i class="halflings-icon time"></i> Today, <b>3:47 PM</b></div>
          <div class="menu" style="width:75%"> <!-- Tags -->
           needs help with <span class="label label-important">{{request.tag}}</span>
           <div>
            {{request.comment}}
           </div>
          </div>
          <div class="pull-right" style="margin-top: -50px">
            <button class="btn btn-small" style="margin:2px;"><i class="icon-ok"></i> Accept</button>
            <br>
            <button class="btn btn-small" style="margin:2px;"><i class="icon-remove"></i> Cancel</button>
          </div>
        </div>
      </li>

      <li ng-repeat="request in requestsFromYou">
        <div class="from">
          <i class="halflings-icon user"></i> <b>Steve Jobs</b>
          <div class="date"><i class="halflings-icon time"></i> Today, <b>3:47 PM</b></div>
          <div class="menu"> <!-- Tags -->
            <span class="label label-important">Angular.js</span>
            <span class="label label-info">Backbone.js</span>
            <span class="label label">Startups</span>
          </div>
            <button class="btn btn-small"><i class="icon-ok"></i> Accept</button>
            <button class="btn btn-small"><i class="icon-remove"></i> Cancel</button>
        </div>
      </li>
    </ul>

  </div>
</div>
