<div class="message">

  <div class="header">
    <h1>Request</h1>

  <ul>
    <li>

      <div class="from">
        <i class="halflings-icon user"></i> <b>Steve Jobs</b>
        <div class="date"><i class="halflings-icon time"></i> Today, <b>3:47 PM</b></div>
        <div class="menu"> <!-- Tags -->
          <span class="label label-important">Angular.js</span>
          <span class="label label-info">Backbone.js</span>
          <span class="label label-info">Backbone.js</span>
          <span class="label label-info">Backbone.js</span>
          <span class="label label-info">Backbone.js</span>
          <span class="label label">Startups</span>
        </div>
          <button class="btn btn-small"><i class="icon-ok"></i> Accept</button>
          <button class="btn btn-small"><i class="icon-remove"></i> Cancel</button>

      </div>



    </li>
    <li>

      <div class="from">
        <i class="halflings-icon user"></i> <b>Steve Jobs</b>
        <div class="date"><i class="halflings-icon time"></i> Today, <b>3:47 PM</b></div>
        <div class="menu"> <!-- Tags -->
          <span class="label label-important">Angular.js</span>
          <span class="label label-info">Backbone.js</span>
          <span class="label label">Startups</span>
        </div>
          <button class="btn btn-small"><i class="icon-ok"></i> Accept</button>
          <button class="btn btn-small"><i class="icon-remove"></i> Cancel</button>

      </div>


    </li>
  </ul>
  </div>



  <form class="replyForm"method="post" action="">

    <fieldset>
      <textarea tabindex="3" class="input-xlarge span12" id="message" name="body" rows="12" placeholder="Click here to reply"></textarea>

      <div class="actions">

        <button tabindex="3" type="submit" class="btn btn-success">Send message</button>

      </div>

    </fieldset>

  </form>

</div>
