<div class="message">

  <div class="header">
    <h1>Request</h1>
    <div class="from"><i class="halflings-icon user"></i> <b>Lukasz Holeczek</b> / lukasz@holeczek.pl</div>
    <div class="date"><i class="halflings-icon time"></i> Today, <b>3:47 PM</b></div>

    <div class="menu"></div>

  </div>

  <div class="content">
  </div>


  <form class="replyForm"method="post" action="">

    <fieldset>
      <textarea tabindex="3" class="input-xlarge span12" id="message" name="body" rows="12" placeholder="Click here to reply"></textarea>

      <div class="actions">

        <button tabindex="3" type="submit" class="btn btn-success">Send message</button>

      </div>

    </fieldset>

  </form>

</div>
