<div ng-controller="LoginCtrl" modal="shouldBeOpen" close="close()" options="opts">
    <div class="modal-header">
        <h4>Login</h4>
    </div>
    <div class="modal-body">
      <center>
        <button class="btn btn-large btn-primary">Facebook</button>
      </center>
        <ul>
            <li ng-repeat="tag in tags">
              {{tag}}
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
    </div>
</div>