    <!-- start: Header -->
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a id="main-menu-toggle" class="hidden-phone open"><i class="icon-reorder"></i></a>
        <div class="row-fluid">
        <a class="brand span2" href="index.html"><span>StandHub</span></a>
        </div>
        <!-- start: Header Menu -->
        <div class="nav-no-collapse header-nav">
          <ul class="nav pull-right">
            <li class="dropdown hidden-phone">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-warning-sign"></i>
              </a>
              <ul class="dropdown-menu notifications">
                <li class="dropdown-menu-title">
                  <span>You have 11 notifications</span>
                </li>
                              <li>
                                    <a href="#">
                    <span class="icon blue"><i class="icon-user"></i></span>
                    <span class="message">New user registration</span>
                    <span class="time">1 min</span>
                                    </a>
                                </li>
                <li>
                                    <a href="#">
                    <span class="icon green"><i class="icon-comment-alt"></i></span>
                    <span class="message">New comment</span>
                    <span class="time">7 min</span>
                                    </a>
                                </li>
                <li>
                                    <a href="#">
                    <span class="icon green"><i class="icon-comment-alt"></i></span>
                    <span class="message">New comment</span>
                    <span class="time">8 min</span>
                                    </a>
                                </li>
                <li>
                                    <a href="#">
                    <span class="icon green"><i class="icon-comment-alt"></i></span>
                    <span class="message">New comment</span>
                    <span class="time">16 min</span>
                                    </a>
                                </li>
                <li>
                                    <a href="#">
                    <span class="icon blue"><i class="icon-user"></i></span>
                    <span class="message">New user registration</span>
                    <span class="time">36 min</span>
                                    </a>
                                </li>
                <li>
                                    <a href="#">
                    <span class="icon yellow"><i class="icon-shopping-cart"></i></span>
                    <span class="message">2 items sold</span>
                    <span class="time">1 hour</span>
                                    </a>
                                </li>
                <li class="warning">
                                    <a href="#">
                    <span class="icon red"><i class="icon-user"></i></span>
                    <span class="message">User deleted account</span>
                    <span class="time">2 hour</span>
                                    </a>
                                </li>
                <li class="warning">
                                    <a href="#">
                    <span class="icon red"><i class="icon-shopping-cart"></i></span>
                    <span class="message">Transaction was canceled</span>
                    <span class="time">6 hour</span>
                                    </a>
                                </li>
                <li>
                                    <a href="#">
                    <span class="icon green"><i class="icon-comment-alt"></i></span>
                    <span class="message">New comment</span>
                    <span class="time">yesterday</span>
                                    </a>
                                </li>
                <li>
                                    <a href="#">
                    <span class="icon blue"><i class="icon-user"></i></span>
                    <span class="message">New user registration</span>
                    <span class="time">yesterday</span>
                                    </a>
                                </li>
                                <li class="dropdown-menu-sub-footer">
                                <a>View all notifications</a>
                </li>
              </ul>
            </li>
            <!-- start: Notifications Dropdown -->
            <li class="dropdown hidden-phone">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-tasks"></i>
              </a>
              <ul class="dropdown-menu tasks">
                <li>
                  <span class="dropdown-menu-title">You have 17 tasks in progress</span>
                              </li>
                <li>
                                    <a href="#">
                    <span class="header">
                      <span class="title">iOS Development</span>
                      <span class="percent"></span>
                    </span>
                                        <div class="taskProgress progressSlim progressBlue">80</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                    <span class="header">
                      <span class="title">Android Development</span>
                      <span class="percent"></span>
                    </span>
                                        <div class="taskProgress progressSlim progressYellow">47</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                    <span class="header">
                      <span class="title">Django Project For Google</span>
                      <span class="percent"></span>
                    </span>
                                        <div class="taskProgress progressSlim progressRed">32</div>
                                    </a>
                                </li>
                <li>
                                    <a href="#">
                    <span class="header">
                      <span class="title">SEO for new sites</span>
                      <span class="percent"></span>
                    </span>
                                        <div class="taskProgress progressSlim progressGreen">63</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                    <span class="header">
                      <span class="title">New blog posts</span>
                      <span class="percent"></span>
                    </span>
                                        <div class="taskProgress progressSlim progressPink">80</div>
                                    </a>
                                </li>
                <li>
                                <a class="dropdown-menu-sub-footer">View all tasks</a>
                </li>
              </ul>
            </li>
            <!-- end: Notifications Dropdown -->
            <!-- start: Message Dropdown -->
            <li class="dropdown hidden-phone">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-envelope"></i>
              </a>
              <ul class="dropdown-menu messages">
                <li>
                  <span class="dropdown-menu-title">You have 9 messages</span>
                </li>
                              <li>
                                    <a href="#">
                    <span class="avatar"><img src="../images/img/avatar.jpg" alt="Avatar"></span>
                    <span class="header">
                      <span class="from">
                          Łukasz Holeczek
                         </span>
                      <span class="time">
                          6 min
                        </span>
                    </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                    <span class="avatar"><img src="../images/img/avatar2.jpg" alt="Avatar"></span>
                    <span class="header">
                      <span class="from">
                          Megan Abott
                         </span>
                      <span class="time">
                          56 min
                        </span>
                    </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                    <span class="avatar"><img src="../images/img/avatar3.jpg" alt="Avatar"></span>
                    <span class="header">
                      <span class="from">
                          Kate Ross
                         </span>
                      <span class="time">
                          3 hours
                        </span>
                    </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                <li>
                                    <a href="#">
                    <span class="avatar"><img src="../images/img/avatar4.jpg" alt="Avatar"></span>
                    <span class="header">
                      <span class="from">
                          Julie Blank
                         </span>
                      <span class="time">
                          yesterday
                        </span>
                    </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                    <span class="avatar"><img src="../images/img/avatar5.jpg" alt="Avatar"></span>
                    <span class="header">
                      <span class="from">
                          Jane Sanders
                         </span>
                      <span class="time">
                          Jul 25, 2012
                        </span>
                    </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                <li>
                                <a class="dropdown-menu-sub-footer">View all messages</a>
                </li>
              </ul>
            </li>
            <!-- end: Message Dropdown -->
            <li>
              <a class="btn" href="#">
                <i class="icon-wrench"></i>
              </a>
            </li>
            <!-- start: User Dropdown -->
            <li class="dropdown">
              <a class="btn account dropdown-toggle" data-toggle="dropdown" href="#">
                <div class="avatar"><img src="../images/img/avatar.jpg" alt="Avatar"></div>
                <div class="user">
                  <span class="hello">Welcome!</span>
                  <span class="name">Łukasz Holeczek</span>
                </div>
              </a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu-title">

                </li>
                <li><a href="#"><i class="icon-user"></i> Profile</a></li>
                <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
                <li><a href="#"><i class="icon-envelope"></i> Messages</a></li>
                <li><a href="login.html"><i class="icon-off"></i> Logout</a></li>
              </ul>
            </li>
            <!-- end: User Dropdown -->
          </ul>
        </div>
        <!-- end: Header Menu -->
</div>
</div>

      <div class="row-fluid">

        <div class="span7">
          <h1>Inbox</h1>

          <ul class="messagesList">

            <li>
              <span class="from"><span class="glyphicons star"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title"><span class="label label-warning">problem</span> Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons star"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title"><span class="label label-success">task</span> Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek</span><span class="title"><span class="label label-info">information</span> Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons star"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons star"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons star"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons star"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons star"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons star"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>

          </ul>

        </div>
        <div class="span5 message-view">

          <div class="message">

            <div class="header">
              <h1>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.."</h1>
              <div class="from"><i class="halflings-icon user"></i> <b>Lukasz Holeczek</b> / lukasz@holeczek.pl</div>
              <div class="date"><i class="halflings-icon time"></i> Today, <b>3:47 PM</b></div>

              <div class="menu"></div>

            </div>

            <div class="content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
              <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </blockquote>
            </div>

            <div class="attachments">
              <ul>
                <li>
                  <span class="label label-important">zip</span> <b>bootstrap.zip</b> <i>(2,5MB)</i>
                  <span class="quickMenu">
                    <a href="#" class="glyphicons search"><i></i></a>
                    <a href="#" class="glyphicons share"><i></i></a>
                    <a href="#" class="glyphicons cloud-download"><i></i></a>
                  </span>
                </li>
                <li>
                  <span class="label label-info">txt</span> <b>readme.txt</b> <i>(7KB)</i>
                  <span class="quickMenu">
                    <a href="#" class="glyphicons search"><i></i></a>
                    <a href="#" class="glyphicons share"><i></i></a>
                    <a href="#" class="glyphicons cloud-download"><i></i></a>
                  </span>
                </li>
                <li>
                  <span class="label label-success">xls</span> <b>spreadsheet.xls</b> <i>(984KB)</i>
                  <span class="quickMenu">
                    <a href="#" class="glyphicons search"><i></i></a>
                    <a href="#" class="glyphicons share"><i></i></a>
                    <a href="#" class="glyphicons cloud-download"><i></i></a>
                  </span>
                </li>
              </ul>
            </div>

            <form class="replyForm"method="post" action="">

              <fieldset>
                <textarea tabindex="3" class="input-xlarge span12" id="message" name="body" rows="12" placeholder="Click here to reply"></textarea>

                <div class="actions">

                  <button tabindex="3" type="submit" class="btn btn-success">Send message</button>

                </div>

              </fieldset>

            </form>

          </div>

        </div>

      </div>

