<div ng-include=" '/views/partials/navbar.html' "></div>

<div id="wrap" class="container-fluid-full">
    <div class="row-fluid">
      <div class="span6 box">
        <div ng-include=" '/views/partials/statuses.html' "></div>
      </div>
      <div class="span6">
      <div class="box" onTablet="span12" onDesktop="span4">
        <div ng-include=" '/views/partials/alerts.html' "></div>
      </div>
      <div class="box" onTablet="span12" onDesktop="span4">
        <div ng-include=" '/views/partials/help.html' "></div>
      </div>
      </div>
    </div>
</div>
