    <!-- start: Header -->
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="row-fluid">
        <a class="brand span2" href="index.html"><span>StandHub</span></a>
        </div>
        <!-- start: Header Menu -->
        <div class="nav-no-collapse header-nav">
          <ul class="nav pull-right">

            <!-- start: User Dropdown -->
            <li class="dropdown">
              <a class="btn account dropdown-toggle" data-toggle="dropdown" href="#">
                <div class="avatar"><img src="../images/img/avatar.jpg" alt="Avatar"></div>
                <div class="user">
                  <span class="hello">Welcome!</span>
                  <span class="name">


                    <a href="#" class="btn btn-info btn-setting">Sign in / Sign up</a>
                  </span>
                </div>
              </a>
              <ul class="dropdown-menu">
                <li class="dropdown-menu-title">

                </li>
                <li><a href="#"><i class="icon-user"></i> Profile</a></li>
                <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
                <li><a href="#"><i class="icon-envelope"></i> Messages</a></li>
                <li><a href="login.html"><i class="icon-off"></i> Logout</a></li>
              </ul>
            </li>
            <!-- end: User Dropdown -->
          </ul>
        </div>
        <!-- end: Header Menu -->
      </div>
    </div>
  </div>


<div class="container-fluid-full">

      <div class="row-fluid">

        <div class="span7">
          <center><h1>Status</h1></center>

          <ul class="messagesList">

            <li>
              <span class="from"><span class="glyphicons star"><i></i></span> gdi2290 <span class="glyphicons paperclip"><i></i></span></span><span class="title"><span class="label label-warning">problem</span> Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons star"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title"><span class="label label-success">task</span> Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek</span><span class="title"><span class="label label-info">information</span> Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons star"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons star"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons star"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons star"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons star"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons star"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek <span class="glyphicons paperclip"><i></i></span></span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>
            <li>
              <span class="from"><span class="glyphicons dislikes"><i></i></span> Lukasz Holeczek</span><span class="title">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..</span><span class="date">Today, <b>3:47 PM</b></span>
            </li>

          </ul>

        </div>
        <div class="span5 message-view">

          <div class="message">

            <div class="header">
              <h1>Request</h1>
              <div class="from"><i class="halflings-icon user"></i> <b>Lukasz Holeczek</b> / lukasz@holeczek.pl</div>
              <div class="date"><i class="halflings-icon time"></i> Today, <b>3:47 PM</b></div>

              <div class="menu"></div>

            </div>

            <div class="content">
            </div>


            <form class="replyForm"method="post" action="">

              <fieldset>
                <textarea tabindex="3" class="input-xlarge span12" id="message" name="body" rows="12" placeholder="Click here to reply"></textarea>

                <div class="actions">

                  <button tabindex="3" type="submit" class="btn btn-success">Send message</button>

                </div>

              </fieldset>

            </form>

          </div>

        </div>

      </div>
</div>
