    <!-- start: Header -->
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="row-fluid">
        <a class="brand span2" href="index.html"><span>StandHub</span></a>
        </div>
        <!-- start: Header Menu -->
        <div class="nav-no-collapse header-nav">
          <ul class="nav pull-right">

            <!-- start: User Dropdown -->
            <li>
                <div class="avatar">
                <img  ng-src="https://graph.facebook.com/gdi2290/picture?type=normal"
                     alt="Avatar">
                </div>
                <div class="user">
                  <!-- <span class="hello">Welcome!</span> -->
                  <div ng-controller="LoginCtrl">

                      <button class="btn btn-info btn-setting"
                              style="margin-top: 10px;"
                              ng-click="open()"
                              ng-hide="loggedIn">
                              Sign in / Sign up</button>
                      <button class="btn btn-info btn-setting"
                              style="margin-top: 10px;"
                              ng-click="logout()"
                              ng-show="loggedIn">
                              Sign out</button>
                      <div ng-include="'/views/login.html'"></div>
                  </div>


                  </span>
              </div>
              </li>
            <!-- end: User Dropdown -->
          </ul>
        </div>
        <!-- end: Header Menu -->
      </div>
    </div>
  </div>
