<div class="box-header">
  <h2><i class="icon-group"></i>Statuses</h2>
  <div class="box-icon" ng-controller="StatusCtrl" close="close()">
      <button class="btn btn-info btn-small btn-setting" ng-click="open()">
        <i class="icon-edit"></i></button>
      <div ng-include="'/views/status.html'"></div>
  </div>
</div>
<div class="box-content">

<ul class="messagesList" ng-controller="StatusesCtrl">

          <div class="task" ng-repeat="user in users">
            <div class="desc">
              <div class="title">{{ user.displayName }}</div>
              {{ user.status }}
            </div>
          </div>

          <div class="clearfix"></div>



</ul>
</div>
