<div class="box-header">
  <h2><i class="icon-group"></i>Statuses</h2>
  <div class="box-icon">
  </div>
</div>
<div class="box-content">

<ul class="messagesList">

          <div class="task">
            <div class="desc">
              <div class="title">gdi2290</div>
              Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
            </div>
            <div class="time">
              <div class="date">Jun 1, 2012</div>
              <div> 1 day</div>
            </div>
          </div>
          <div class="task">
            <div class="desc">
              <div class="title">gdi2290</div>
              Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
            </div>
            <div class="time">
              <div class="date">Jun 1, 2012</div>
              <div>1 day</div>
            </div>
          </div>
          <div class="task">
            <div class="desc">
              <div class="title">gdi2290</div>
              Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
            </div>
            <div class="time">
              <div class="date">Jun 1, 2012</div>
              <div> 1 day</div>
            </div>
          </div>
          <div class="task">
            <div class="desc">
              <div class="title">gdi2290</div>
              Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
            </div>
            <div class="time">
              <div class="date">Jun 1, 2012</div>
              <div>1 day</div>
            </div>
          </div>

          <div class="task">
            <div class="desc">
              <div class="title">gdi2290</div>
              Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
            </div>
            <div class="time">
              <div class="date">Jun 1, 2012</div>
              <div> 1 day</div>
            </div>
          </div>
          <div class="task">
            <div class="desc">
              <div class="title">gdi2290</div>
              Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
            </div>
            <div class="time">
              <div class="date">Jun 1, 2012</div>
              <div> 1 day</div>
            </div>
          </div>

          <div class="task">
            <div class="desc">
              <div class="title">gdi2290</div>
              Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
            </div>
            <div class="time">
              <div class="date">Jun 1, 2012</div>
              <div> 1 day</div>
            </div>
          </div>
          <div class="task">
            <div class="desc">
              <div class="title">gdi2290</div>
              Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
            </div>
            <div class="time">
              <div class="date">Jun 1, 2012</div>
              <div> 1 day</div>
            </div>
          </div>
          <div class="task">
            <div class="desc">
              <div class="title">gdi2290</div>
              Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
            </div>
            <div class="time">
              <div class="date">Jun 1, 2012</div>
              <div> 1 day</div>
            </div>
          </div>
          <div class="task">
            <div class="desc">
              <div class="title">gdi2290</div>
              Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
            </div>
            <div class="time">
              <div class="date">Jun 1, 2012</div>
              <div> 1 day</div>
            </div>
          </div>
          <div class="task">
            <div class="desc">
              <div class="title">gdi2290</div>
              Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
            </div>
            <div class="time">
              <div class="date">Jun 1, 2012</div>
              <div> 1 day</div>
            </div>
          </div>
          <div class="task">
            <div class="desc">
              <div class="title">gdi2290</div>
              Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
            </div>
            <div class="time">
              <div class="date">Jun 1, 2012</div>
              <div> 1 day</div>
            </div>
          </div>

          <div class="clearfix"></div>



</ul>
</div>
